@charset "utf-8";
/* CSS Document */

.ranking table td.regional span {
	filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=2.9);
}

.container .content .home ul.nav-noticias {margin-bottom:2px!important;}

#div-input-file #file-original {font-size:22px!important;}

#div-input-falso {margin-left:109px!important;}

.container .content .form-participe form {margin-bottom:56px!important;}

.regulamento{padding-bottom:21px!important;}

.tabela-jogos{margin-bottom:42px!important;}